legend{
    text-align: center;
    font-size: 35px;
}
.bye{
    margin-top: 50px;
    border:solid rgb(210, 124, 125);
    text-align: center;
}
.ne{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
     background-color:rgb(210, 124, 125); 
    border-color: rgb(219,176,159);
    color:antiquewhite 
}


.y1{
    background-color:  rgb(210, 124, 125);
    border-color: rgb(219,176,159);
    width:75px;
    height:50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.y2{background-color: rgb(219,176,159);
    border-color: rgb(210, 124, 125);
    width:75px;
    height:50px;
    margin-bottom: 100px;
    margin-top: 50px;

}


