body {
    width: 100%;
    margin:0 auto;
    font-family: '경기천년제목 Light';
}
.os-logo-con {
    width: 1440px;
    height: 180px;
    margin: 0 auto;
}
.os-logo {
    width: 1440px;
    height: 100px;
    margin: 20px;
    margin-bottom: 5px;
    border: 1px solid rgb(210,124,125) ;
    font-family: '경기천년제목 Light';
    border-radius: 10px;
    background-color: rgb(246,246,246);
}

.os-logo h2 {
    text-align: center;
    color: rgb(34,34,34);
}

.quickshortcut {
    margin: 5px;
    color: rgb(139,151,141);
}

.quickshortcut a{
    color: rgb(139,151,141);
    text-decoration-line: none;
}
.delivery-search-shortcut {
    text-align: center;
    width: 200px;
    height: 30px;
    background-color:rgb(210,124,125);
    border: 2px groove  rgb(34,34,34);
    float: right;
}

.delivery-search-shortcut p {
    color: rgb(246,246,246);
    font-weight: bold;
    line-height: 0px;
}
.os-main {
    width: 1350px;
    margin: 0 auto;
}
.os-searchbar {
    flex-direction: column;
    width: 1200px;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
}
.os-searchbar2 {
    flex-direction: column;
    width: 1200px;

    margin: 0 auto;

}
.os-date-searcher {
    float: left;
}
.os-term-searcher {
    float: left;
}
#os-searchbtn {
    width: 80px;
    height: 25px;
    border-color: rgb(34,34,34);
    background-color: rgb(246,246,246);
    color: rgb(210,124,125);
    font-size: medium;
    font-weight: bold;
    font-family: '경기천년제목 Light';
}
.os-date-obj input[type="radio"]{
    display: none;
}
.os-date-obj input[type="radio"]+span{
    display: inline-block;
    width: 60px;
    line-height: 25px;
    height: 25px;
    border: 1px solid rgb(246,246,246);
    color: rgb(34,34,34);
    font-family: '경기천년제목 Light';
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.os-date-obj input[type="radio"]:checked + span{
    border: 1px groove rgb(116,157,159);
    font-weight: bolder;
    color: rgb(116,157,159);
}
.os-items {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

.os-items thead{
    background-color: rgb(210,124,125);
    color: rgb(246,246,246);
}
.os-items th {
    border-left-color: rgb(210, 124, 125);
    border-right-color: rgb(210, 124, 125);
}
.os-items td {
    border-top-color:#ffffff;
    border-bottom-color: rgb(210, 124, 125);
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}

.os-items .tablebody{
    height: 80px;
}
/* ìƒí’ˆ í‘œ */
.tablebody img {
    max-height: 80px;
}

.tablebody #goodsorderdate {
    width: 150px;
}

.tablebody #goodsimg {
    width: 155px;
}

.tablebody #goodsinfo {
    width: 300px;
}

.tablebody #goodsamount {
    width: 100px;
}
.tablebody #goodsorderstatus {
    width: 110px;
}
.tablebody #goodsorderstatus {
    width: 110px;
}

.page-controller {
    font-size: 21px;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}
.page-controller a{
    text-decoration-line: none;
}
#goodsreview a {
    text-decoration-line: none;
    color: rgb(34,34,34);
}

#goodsreview div {
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(219,176,159);
}