h1{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
body{
    font-family: 경기천년제목 light;
}

#qbtn{
    text-align: right;
    width: 82%;
    /* box-sizing: border-box; */
    
    /* padding-top: 3%; */
    padding-bottom: 3%;
}

#bt{
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    font-family: 경기천년제목 light;
    
}
.two{
    text-align: center;
    border-style:inset  ;
    border-left: 10px;
    border-right: 10px;
    /* justify-items: center; */
    /* justify-items: center; */
    margin: 0 auto;
    width: 65%;
    /* border-bottom: 2px solid #333333; */
    
    /* border: 10px; */
}
/* .two>table>tr>th, .two>table>tr>td{
    border-bottom: 2px solid #333333; */
th,td {
    border-bottom: 1px groove #dddddd;
    /* border-collapse: collapse; */
}
.q1{
    width:10%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:#ffffff
    
    /* padding-left: 80px; */
}
.q2{
    width: 30%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:#ffffff;
}
.q3{
    width: 10%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:#ffffff;
}
.q4{
    width: 10%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:#ffffff;
}
.q5{
    width: 10%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color:#ffffff;
}


td{
    font-size: 25px;
}
.list{
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    /* padding-left: 45%; */
    width:300px;
    margin-bottom: 40px;
    /* display: flex; */
    
    
}
 ul{
    display:inline;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
} 
 ul li{
    display: inline;
    margin: 0px 10px;
} 
a{
    text-decoration-line: none;
    color: inherit;
}
.search_btn_class{
   display: flex;

}
select  {
   width: 20%;
    height:35px;
    margin-top: 28px;
    border-style: solid;
    font-size: 15px;
    /* border: 2px; */
    border-radius: 10px;
}
.list input{
    width:60%;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;

}
#search_btn{
    font-size: 20px;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    /* border-style: none   ; */
    border-color:#ffffff ;
    background-color:#000000;
    color: #ffffff;
    font-family: 경기천년제목 light;
    margin-left:10px;
    
    /* float: left; */
}