body {
    width: 100%;
    margin:0 auto;
    font-family: '경기천년제목 Light';
}
.sb-logo-con {
    width: 1440px;
    height: 180px;
    margin: auto;
}
.sb-logo {
    width: 1440px;
    height: 100px;
    margin: 20px;
    margin-bottom: 5px;
    border: 1px solid rgb(210,124,125) ;
    font-family: '경기천년제목 Light';
    border-radius: 10px;
    background-color: rgb(246,246,246);
}

.sb-logo h2 {
    text-align: center;
    color: rgb(34,34,34);
}

.quickshortcut {
    margin: 5px;
    color: rgb(139,151,141);
}

.quickshortcut a{
    color: rgb(139,151,141);
    text-decoration-line: none;
}
.delivery-search-shortcut {
    text-align: center;
    width: 200px;
    height: 30px;
    background-color:rgb(210,124,125);
    border: 2px groove  rgb(34,34,34);
    float: right;
}

.delivery-search-shortcut p {
    color: rgb(246,246,246);
    font-weight: bold;
    line-height: 0px;
}
.sb-main {
    width: 1200px;
    height: 720px;
    margin: auto;
    position: relative;
    margin-top: 0;
}
.sb-searchbar {
    flex-direction: column;
    width: 1000px;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
}
.sb-search-condition {
    float: left;
}
#sb-searchbtn {
    width: 80px;
    height: 25px;
    border-color: rgb(34,34,34);
    background-color: rgb(246,246,246);
    color: rgb(210,124,125);
    font-size: medium;
    font-weight: bold;
    font-family: '경기천년제목 Light';
}
.sb-selector {
    float: right;
}
#sb-allselectbtn {
    width: 80px;
    height: 25px;
    border-color: rgb(34,34,34);
    background-color: rgb(246,246,246);
    color: rgb(210,124,125);
    font-size: medium;
    font-weight: bold;
    font-family: '경기천년제목 Light';
}
#sb-deletebtn {
    width: 80px;
    height: 25px;
    border-color: rgb(34,34,34);
    background-color: rgb(246,246,246);
    color: rgb(210,124,125);
    font-size: medium;
    font-weight: bold;
    font-family: '경기천년제목 Light';
}
.sb-items {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    border: 1px groove;
    width: 800px;
}
.sb-items .tablehead{
    background-color: rgb(210,124,125);
    color: rgb(246,246,246);
}
.sb-items th {
    border-left-color: rgb(210, 124, 125);
    border-right-color: rgb(210, 124, 125);
    background-color: rgb(210,124,125);
    color: rgb(246,246,246);
}
.sb-items td {
    border-top-color:#ffffff;
    border-bottom-color: rgb(210, 124, 125);
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}
.sb-items .tablebody{
    height: 80px;
}
/* 상품 표 */
.tablebody img {
    max-height: 80px;
}

.tablebody #goodsnum {
    width: 75px;
}

.tablebody #goodsimg {
    width: 155px;
}

.tablebody #goodsinfo {
    width: 300px;
}

.tablebody #goodsamount {
    width: 100px;
}

.tablebody #goodsprice {
    width: 170px;
}

.page-controller {
    font-size: 21px;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}
.page-controller a{
    text-decoration-line: none;
    color: rgb(34,34,34);
}

.price-calc {
    width: 500px;
    height: 100px;
    border: 1px solid rgb(34,34,34) ;
    border-radius: 10px;
    background-color: rgb(139,151,141);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.price-calc .icon img {
    float: left;
    margin-top: 30px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(246,246,246);
}

.price-calc .price-calc-thumb {
    background-color: rgb(210,124,125);
    color: rgb(246,246,246);
    margin: auto;
    height: 30px;
}

.price-calc .price-calc-thumb p {
    margin: 0;
    line-height: 30px;
}

.price-calc .price-calc-target {
    width: 120px;
    height: 80px;
    border: 1px solid rgb(34,34,34) ;
    background-color: rgb(246,246,246);
    float: left;
    text-align: center;
}

.buybtn-con {
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.buybtn-con #buybtn {
    display: inline;
    width: 130px;
    height: 40px;
    font-family: '경기천년제목 Light';
    font-size: 27px;
    border: 2px solid rgb(34,34,34);
    border-radius: 10px;
    background-color: rgb(246,246,246);
    color: rgb(210,124,125);
}

.buybtn-con #buybtn :active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}