h1{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}
body{
    font-family: 경기천년제목 light;
}
    
#qbtn{
    text-align: right;
    width: 82%;
    /* box-sizing: border-box; */
    
    /* padding-top: 3%; */
    padding-bottom: 3%;
}

#bt{
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: #ffffff;
    font-family: 경기천년제목 light;
    
}
.two{
    text-align: center;
    border-style:inset  ;
    border-left: 10px;
    border-right: 10px;
    /* justify-items: center; */
    /* justify-items: center; */
    margin: 0 auto;
    width: 70%;
    /* border-bottom: 2px solid #333333; */
    
    /* border: 10px; */
}
/* .two>table>tr>th, .two>table>tr>td{
    border-bottom: 2px solid #333333; */
th,td {
    border-bottom: 1px groove #dddddd;
    text-align: center;
    /* border-collapse: collapse; */
}


.b1{
    width:3%;
    text-align:center;
    font-size: 35px;
    background-color: black;
    color:#ffffff;
    
    /* padding-left: 80px; */
}
.b2{
    width: 20%;
    text-align: center;
    font-size: 35px;
    background-color: black;
    color:#ffffff;
}
.b3{
    width: 3%;
    text-align: center;
    font-size: 35px;
    background-color: black;
    color:#ffffff;
}


td{
    font-size: 25px;
    text-align:center;
    
}
.list{
    padding-top: 50px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    /* padding-left: 45%; */
    width:300px;
    margin-bottom: 40px;
    
    
}
ul{
    display:inline;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
ul li{
    display: inline;
    margin: 0px 10px;
}
a{
    text-decoration-line: none;
    color: inherit;
}